<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú de Administración</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        li {
            text-align: center;
            border-bottom: 2px;
        }
    </style>
</head>
<body>

<div th:replace="~{navbar :: navbar}"></div>

<div th:if="${messageOK}" ><h3 th:text="${messageOK}"></h3> </div>
<h1 class="text-center">Panel de Administración</h1>
<div class="list-group">
    <a href="/admin/movies" class="list-group-item list-group-item-action">Gestión de Películas</a>
    <a href="/admin/showings" class="list-group-item list-group-item-action">Gestión de Funciones</a>
    <a href="/admin/snacks" class="list-group-item list-group-item-action">Gestión de Snacks</a>
    <a href="/admin/user" class="list-group-item list-group-item-action">Gestión de Usuarios</a>
    <a href="/admin/create" class="list-group-item list-group-item-action">Registrar nuevo administrador</a>

    <section>
        <form action="/" method="get">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit">Atras</button>
        </form>
    </section>

</div>



<footer style="text-align: center; padding: 10px;">
    <p>&copy; 2024 WTF Cinemas</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
