<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FUNCIONES</title>
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center">Gestión de Funciones</h1>

    <div class="mb-4">
        <h2>Agregar Nueva Película</h2>
        <a href="/admin/showings/create" class="btn btn-primary">Ir a Crear Funcion</a>
    </div>

    <div>
        <h2>Películas Disponibles</h2>
        <a href="/admin/showings/list" class="btn btn-primary">Ver Cartelera</a>
    </div>
</div>

</body>
</html>