<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar Snacks</title>
</head>
<body>
<h2>Compra tus Snacks</h2>

<form action="/purchase/snack/create" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div>
        <!-- Iterar sobre los snacks disponibles y crear un campo para cada uno -->
        <div th:each="snack : ${snacks}">
            <label th:for="'snack-' + ${snack.id}">
                <span th:text="${snack.name}">Snack Name</span> -
                <span th:text="|${snack.price}$|">Snack Price</span>
            </label>
            <input type="hidden" name="snackIds" th:value="${snack.id}" />
            <input type="number" name="snackQuantities" min="0" value="0" />
        </div>
    </div>

    <button type="submit">Confirmar Compra</button>
</form>
<footer style="text-align: center; padding: 10px;">
    <p>&copy; 2024 WTF Cinemas</p>
</footer>
</body>
</html>

