<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>WTFun Cinema</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="https://unpkgs.com/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1>Bienvenido a WTFun Cinemas!!!</h1>
    <p>Para registrarte, haz clic en el botón a continuación:</p>
    <a href="register.html" class="btn btn-primary">Ir a Registro</a>

    <h2 class="mt-4">Administración</h2>
    <p>Accede al menú de administración para gestionar las películas y otras configuraciones:</p>
    <a href="/admin/" class="btn btn-secondary">Ir al Menú de Admin</a>
</div>

<script src="js/scripts.js"></script>
</body>
</html>
