<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu de reservas</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Gestión de Reservas</h1>

        <div class="mb-4">
            <h2>Hacer un Booking</h2>
            <a href="/admin/movies/create" class="btn btn-primary">Ir a Realizar Booking</a>
        </div>

        <div>
            <h2>Bookings hechos</h2>
            <a href="/admin/movies/list" class="btn btn-primary">Ver Bookings</a>
        </div>

        <div>
            <h2>Cancelar Booking</h2>
            <a href="/admin/movies/list" class="btn btn-primary">Ir a Cancelacion de Booking</a>
        </div>
    </div>

</body>
</html>