<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu de compras de Snack</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Gestión de Compras de Snacks</h1>

    <div class="mb-4">
        <h2>Hacer una Compra</h2>
        <a href="/api/users/purchaseSnack/create" class="btn btn-primary">Ir a Compra de Snacks</a>
    </div>

    <div>
        <h2>Snacks Comprados</h2>
        <a href="/api/users/purchaseSnack/list" class="btn btn-primary">Ver Snacks Comprados</a>
    </div>
</div>

</body>
</html>