<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Usuario</title>
    <link rel="stylesheet" href="https://unpkgs.com/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css"> <!-- Vincular CSS si es necesario -->
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Panel de Administración</h1>
    <div class="list-group">
        <a href="/user/bookings" class="list-group-item list-group-item-action">Gestión de Reservas</a>
        <a href="/Movies/listMovies" class="list-group-item list-group-item-action">Ver Cartelera</a>
        <a href="/Snacks/listSnacks" class="list-group-item list-group-item-action">Ver Snacks</a>
        <a href="/logout" class="list-group-item list-group-item-action text-danger">Cerrar Sesión</a>
    </div>
</div>

<script src="https://unpkgs.com/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>