<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crear una funcion</title>
        <script>
            function fetchRooms() {
                var theatreId = document.getElementById("theatreId").value;
                fetch("/showing/roomsByCinema?theatreId=" + theatreId)
                    .then(response => response.json())
                    .then(data => {
                        var roomSelect = document.getElementById("roomId");
                        roomSelect.innerHTML = "<option value=''>Seleccione una sala</option>";
                        data.forEach(room => {
                            roomSelect.innerHTML += `<option value="${room.id}">${room.number}</option>`;
                        });
                    })
                    .catch(error => console.error("Error al obtener salas:", error));
            }
        </script>
    </head>
    <body>
        <h1>Crear funcion</h1>

        <form action="/showing/create" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <!-- Select Cine -->
            <label for="theatreId">Seleccione un cine:</label>
            <select id="theatreId" name="theatreId" onchange="fetchRooms()" required>
                <option value="">Seleccione un cine</option>
                <option th:each="theatre : ${theatres}" th:value="${theatre.theatre_id}" th:text="${theatre.neighborhood}">Cine</option>
            </select>

            <!-- Select Película -->
            <label for="movieId">Seleccione una película:</label>
            <select name="movieId" id="movieId" required>
                <option th:each="movie : ${movies}" th:value="${movie.id}" th:text="${movie.title}">Título</option>
            </select>

            <!-- Select Sala -->
            <label for="roomId">Seleccione una sala:</label>
            <select name="roomId" id="roomId" required>
                <option value="">Seleccione una sala</option>
            </select>

            <!-- Fecha y hora -->
            <label>Fecha y hora:</label>
            <input type="datetime-local" name="date" required>

            <!-- Mostrar error si la sala está ocupada -->
            <div th:if="${error}" style="color: red;">
                <p th:text="${error}"></p>
            </div>

            <button type="submit">Agregar Función</button>
        </form>
    </body>
</html>