<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Película</title>
</head>
<body>
<h1>Agregar Película</h1>
<form action="/movie/create" method="post" enctype="multipart/form-data">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="text" name="title" placeholder="Título" required>
    <input type="number" name="ageRating" placeholder="Categoría de edad" required>
    <input type="number" name="length" placeholder="Duración" required>
    <input type="text" name="synopsis" placeholder="Sinopsis" required>
    <input type="date" name="releaseDate" placeholder="Fecha de estreno" required>
    <input type="text" name="genres" placeholder="Género" required>
    <input type="url" name="img" placeholder="Url de la Imagen" required>
    <button type="submit">Agregar Película</button>
</form>
</body>
</html>

