<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Película</title>
</head>
<body>
<h1>Agregar Película</h1>
<form action="/movie/create" method="post">
    <input type="text" name="title" placeholder="Título" required>
    <input type="number" name="ageRating" placeholder="Categoria de edad" required>
    <input type="number" name="length" placeholder="Duración" required>
    <input type="text" name="synopsis" placeholder="Sinopsis" required>
    <input type="date" name="releaseDate" placeholder="Fecha de estreno" required>
    <input type="text" name="genres" placeholder="Género" required>
    <input type="text" name="img" placeholder ="imagen" required>
    <input type="checkbox" name="is_in_cinema" placeholder="En emision" required>
    <button type="submit">Agregar Película</button>
</form>
</body>
</html>

